{{ define "mutators" -}}
	{{ range $method := . -}}
		type {{ .Input.Ref }}Mutator func(*{{ .Input.Type }})
		{{ range .Input.Fields -}}
			{{ $slicePrefix := "" -}}
			{{ if .IsRepeated -}}
				{{ $slicePrefix = "[]" -}}
			{{ end -}}
			func Set{{ $method.Input.Ref }}_{{ .Name }}(value {{ $slicePrefix }}{{ type_of . }}) {{ $method.Input.Ref }}Mutator {
				return func(in *{{ $method.Input.Type }}) {
					in.{{ .Name }} = value
				}
			}
		{{ end -}}
	{{ end -}}
{{ end -}}
